.App {
  display: flex;
  align-items: center;
  height: 100vh;
}

.clipboardForm {
  box-shadow: 0 2px 3px rgb(0 0 0 / 16%);
  border-radius: 10px;
  padding: 0 50px;
  background-color: #b19cd9;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clipboardForm form {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

.clipboardForm form button {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 0 9px #999;
}

.clipboardForm form button:hover {
  background-color: whitesmoke;
}

.clipboardForm form button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.input {
  height: 100px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
}

input:-webkit-autofill::first-line {
  font-size: 2em;
}

.input:focus {
  outline: none;
}

.warning {
  background-color: #ffcc00;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.clipboardUrl {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.clipboardUrl a {
  background-color: green;
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.clipboardUrl a:visited {
  color: white;
  font-weight: bold;
}