.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}



.main {
  padding-top: 20px;  
  box-shadow: 0 2px 3px rgb(0 0 0 / 16%);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  background-color: #b19cd9;
}

@media only screen and (min-width: 768px) {
  .main {
    width: 30%;
  }
}

.main form {
  background-color: #9cd9b1;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main form button {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 0 9px #999;
}

.main form button:hover {
  background-color: whitesmoke;
}

.main form button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.input {
  height: 100px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 2em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
}

input:-webkit-autofill::first-line {
  font-size: 2em;
}

.input:focus {
  outline: none;
}

.warning {
  background-color: #ffcc00;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

.keepAlive-notice {
  background-color: #3e8e41;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  color: white;
}

.clipboardUrl {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.clipboardUrl a {
  background-color: green;
  padding: 3px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.clipboardUrl a:visited {
  color: white;
  font-weight: bold;
}

.userClipboards-container {
  margin-top: 20px;
}

ul.userClipboards {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

li.clipboard-item {
  display: flex;
  flex: 1;
  background-color: #c0aee0;
  margin: 5px;
  min-height: 30px;
  border-radius: 10px;
  overflow: hidden;
}

li div.clipboard-item-controls {
  display: flex;
  justify-content: space-evenly;
}

li p.clipboard-item-text {
  display: flex;
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}

li.clipboard-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cec1e7;
  border: none;
  outline: none;
  width: 40px;
}


.clipboard-copy .tooltiptext {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 60px;

  transition: all 1s ease-in-out;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  z-index: 1;
}

/* .clipboard-copy:active .tooltiptext {
  opacity: 1;
  visibility: visible;
} */

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.keepAlive-checkbox-container {
  margin: 20px;
}

.singin-button {
  margin: 10px;
}

.footer-signature {
  text-align: center;
}